<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chenay.platform.utils">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application>
<!--        <activity-->
<!--            android:name="com.chenay.platform.TestActivity"-->
<!--            android:label="@string/title_activity_test"-->
<!--            android:theme="@style/AppTheme.NoActionBar">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.chenay.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name="com.chenay.platform.apk.BaseApkActivity" />
    </application>

</manifest>